 * {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
 }



 body {
    font-size: 14px;
    font-family: 'inter'; 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .card-1 {
    color: white;
    background-color:rgb(44, 44, 44);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
 }

 img {
    border-radius: 12rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    display: flex;
    justify-content: top;
    margin-top: 2rem;
 }

 .photo-1 {
    margin-top:2px;
 }
 h1{
    font-size: 20px;
    margin: 0;
    padding-top: 15px;

 }

.city {
    color: rgb(172, 213, 7);
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding-top: 7px;
}

.first-text {
    padding-top: 10px;
    font-size: 11px;
}

.btn-1 {
    background-color: rgb(78, 77, 74);
    border-radius: 0.5rem;
    padding: 12px;
    width: 250px;
    margin: 0.3rem;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    font-weight: bold;
}

.btn-1:last-child {
    margin-bottom: 27px;
}

.btn-1:hover {
    background-color: rgb(172, 213, 7);
    color: black;
}



@media only screen and (min-width: 370px) {}

@media only screen and (min-width: 1400px) {}